<body>

    <div class="container">
        <h1>Carrito de compras</h1>

        <ul class="cart-list" id="cartList">
            {{#each carts}}
                <li>
                    <div class="cart-details">
                        <div>ID del carrito: {{_id}}</div>
                        <div>Precio total: {{totalPrice}}</div>
                        <button type="button" onclick="/api/carts('{{_id}}')">Ver carrito</button>
                    </div>
                </li>
            {{/each}}
        </ul>

    </div>
        <script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
    <script src="js/carts.js"></script>
</body>