<header>
    <a href="/" class="logo">CoderIntegrador</a>

    <nav>
        <ul>
            <li><a href="/chat" class="btnUpload">chat</a></li>
            <li><a href="/realtimeproducts" class="btnUpload">productos</a></li>
            <li><a href="/cart" class="btnUpload">Carritos</a></li>
        </ul>
    </nav>
</header>